.main{
	background: url('../img/main/bg.png');
	background-size: 100% 100%;
}
.main .title{
	width: 90vw;
	position: absolute;
	top: 29vw;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}
.main .ming{
	width: 19vw;
	position: absolute;
	top: 8vw;
	left: 13vw;
	transform-origin: bottom center;
	animation: main-ming 1s forwards;
}
.main .play{
	width: 42vw;
	position: absolute;
	top: 92vw;
	left: 0;
	right: 0;
	margin: auto;
	animation: main-play 1s infinite alternate;
}
.main .lunzi{
	width: 13vw;
	position: absolute;
	top: 73vh;
	left: 79vw;
	animation: lunzi 4s infinite linear;
}
/* 以下是动画 */
@keyframes main-ming{
	0%{
		transform: rotate(-15deg);
	}
	50%{
		transform: rotate(15deg);
	}
	0%{
		transform: rotate(-15deg);
	}
}
/* 按钮动画 */
@keyframes main-play{
	0%{
		transform: scale(1);
	}
	100%{
		transform: scale(1.1);
	}
}
/* 风车旋转 */
@keyframes lunzi{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}